<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/style.css">
  <title>Rockpaperscissors</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/welcome">Welcome</a></li>
      <li><a href="/game/rock/rock">Play Game</a></li>
    </ul>
  </nav>
  <%= yield %>
  <!-- yield replaces it with result.erb or instructors.erb -->
</body>
</html>
