<h1>Rules</h1>
<br></br>
<h3>1.Players enter your choice of rock, paper or scissors</h3>
<h3>in the following way.</h3>
<br></br>
<h3>2.You will need a third party to whisper your choice too</h3>
<br></br>
<h3>3.In browser third party will input /game/"player 1 choice"/"player 2 choice"</h3>
<br></br>
<h3>4.Loser must eat the item they had chosen... just kidding.</h3>
